*~

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Kernel modules
Module.symvers
modules.order
*.ko
*.mod.c
*.cmd
.tmp*